
/*doc
---
title: Grid
name: Grid
category: Grid System
---

##グリッド

グリッドシステムのスタイルガイドです。
汎用性を考え本サイトでは１２グリッドを採用しております。
使用方法は以下のスタイルガイドをご参照ください。

※本ページのグリッドの「色」、「高さ」などのスタイルはインラインスタイルです。


```html_example
	<div class="g-rows">
		<div class="g-col__1" style="background: #2ECBA8;height:30px;text-align: center;">1</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__2" style="background: #2ECBA8;height:30px;text-align: center;">2</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__3" style="background: #2ECBA8;height:30px;text-align: center;">3</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__4" style="background: #2ECBA8;height:30px;text-align: center;">4</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__5" style="background: #2ECBA8;height:30px;text-align: center;">5</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__6" style="background: #2ECBA8;height:30px;text-align: center;">6</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__7" style="background: #2ECBA8;height:30px;text-align: center;">7</div>
	</div>
````
```html_example
	<div class="g-rows">
		<div class="g-col__8" style="background: #2ECBA8;height:30px;text-align: center;">8</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__9" style="background: #2ECBA8;height:30px;text-align: center;">9</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__10" style="background: #2ECBA8;height:30px;text-align: center;">10</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__11" style="background: #2ECBA8;height:30px;text-align: center;">11</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__12" style="background: #2ECBA8;height:30px;text-align: center;">12</div>
	</div>
```

##その他組み合わせ例
**2カラム**<br>
```html_example
	<div class="g-rows">
		<div class="g-col__1" style="background: #2ECBA8;height:30px;text-align: center;">1</div>
		<div class="g-col__11" style="background: #58EDCC;height:30px;text-align: center;">11</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__2" style="background: #2ECBA8;height:30px;text-align: center;">2</div>
		<div class="g-col__10" style="background: #58EDCC;height:30px;text-align: center;">10</div>
	</div>
```

```html_example
	<div class="g-rows">
		<div class="g-col__9" style="background: #2ECBA8;height:30px;text-align: center;">9</div>
		<div class="g-col__3" style="background: #58EDCC;height:30px;text-align: center;">3</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__4" style="background: #2ECBA8;height:30px;text-align: center;">4</div>
		<div class="g-col__8" style="background: #58EDCC;height:30px;text-align: center;">8</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__5" style="background: #2ECBA8;height:30px;text-align: center;">5</div>
		<div class="g-col__7" style="background: #58EDCC;height:30px;text-align: center;">7</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__6" style="background: #2ECBA8;height:30px;text-align: center;">6</div>
		<div class="g-col__6" style="background: #58EDCC;height:30px;text-align: center;">6</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__7" style="background: #2ECBA8;height:30px;text-align: center;">7</div>
		<div class="g-col__5" style="background: #58EDCC;height:30px;text-align: center;">5</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__8" style="background: #2ECBA8;height:30px;text-align: center;">8</div>
		<div class="g-col__4" style="background: #58EDCC;height:30px;text-align: center;">4</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__9" style="background: #2ECBA8;height:30px;text-align: center;">9</div>
		<div class="g-col__3" style="background: #58EDCC;height:30px;text-align: center;">3</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__10" style="background: #2ECBA8;height:30px;text-align: center;">10</div>
		<div class="g-col__2" style="background: #58EDCC;height:30px;text-align: center;">2</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__11" style="background: #2ECBA8;height:30px;text-align: center;">11</div>
		<div class="g-col__1" style="background: #58EDCC;height:30px;text-align: center;">1</div>
	</div>
```

```html_example
	<div class="g-rows">
		<div class="g-col__4" style="background: #2ECBA8;height:30px;text-align: center;">4</div>
		<div class="g-col__4" style="background: #58EDCC;height:30px;text-align: center;">4</div>
		<div class="g-col__4" style="background:#EFEFEF;height:30px;text-align: center;">4</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__3" style="background: #2ECBA8;height:30px;text-align: center;">3</div>
		<div class="g-col__5" style="background: #58EDCC;height:30px;text-align: center;">5</div>
		<div class="g-col__4" style="background:#EFEFEF;height:30px;text-align: center;">4</div>
	</div>
```
```html_example
	<div class="g-rows">
		<div class="g-col__2" style="background: #2ECBA8;height:30px;text-align: center;">2</div>
		<div class="g-col__5" style="background: #58EDCC;height:30px;text-align: center;">5</div>
		<div class="g-col__5" style="background:#EFEFEF;height:30px;text-align: center;">2</div>
	</div>
```
*/
%inner {
	min-width: 1000px;
}
%layout {
	display: block;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.l- {
	@at-root {
		#{&}header {
			display: inline-block;
			width: 100%;
			height: auto;
			border-top: 10px solid $color__black;
			background-image: url(../img/common/bg_header.png);
			vertical-align: top;
			@at-root {
				#{&}__top {
					position: relative;
					height: auto;
					@extend %layout;
				}
				#{&}__inner {
					overflow: hidden;
					width: 960px;
					padding: 0 10px;
					margin: 0 auto;
				}
			}
		}
		#{&}main {
			display: block;
			width: 100%;
			box-sizing: border-box;
		}
		#{&}section {
			margin-bottom: 25px;
			width: 1000px;
			margin: 0 auto;
			@at-root {
				#{&}__adj {
					margin-top: 2px;
				}
				#{&}__accent {
					width: 100%;
				}
			}
		}
		#{&}container {
			padding: 0 0 40px 55px;
		}
		#{&}contents {
			@extend %layout;
			margin-bottom: 40px;
		}
		#{&}article {
			display: block;
			width: 100%;
		}
		#{&}inner {
			text-align: center;
			@extend %layout;
		}
		#{&}footer {
			margin-top: -15px;
		}
		#{&}aside {
			width: 100%;
		}
	}
}
